---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main class="flex flex-col w-full px-3 py-4 gap-3">
    <header>
      <h1>Welcome to Astro!</h1>
    </header>

    <p>Astro is a modern static site builder that delivers lightning-fast performance and a great developer experience.</p>

  </main>
</Layout>
