---
//import { Icon } from 'astro-icon/components'

const { pathname } = Astro.url;

const isActivePath = (href: string) => {
  const normalizedPath = pathname.replace(/\/$/, "") || "/";
  const normalizedHref = href.replace(/\/$/, "") || "/";
  return normalizedPath === normalizedHref;
};

const navItems = [
  { href: "/", /*icon: "home",*/ label: "Inicio" },
  { href: "/precio", /*icon: "inventory",*/ label: "precios" },
  { href: "/sincronizador", /*icon: "upload",*/ label: "Sincronizar" },
];
---

<aside class="w-full sm:w-64 shrink-0 bg-slate-900 border-r border-slate-800 flex flex-col">

    <header class="p-6 flex items-center gap-3">
        <div>
            <h1 class="text-sm font-bold tracking-tight text-slate-100">Autoparts Sync</h1>
        </div>
    </header>
    
    <nav class="flex flex-row justify-between sm:flex-col sm:block flex-1 p-1 sm:px-4 space-y-5">
        {navItems.map((item) => {
            const active = isActivePath(item.href);
            return (
                <a
                    href={item.href}
                    class={`flex items-center gap-3 p-2 rounded-lg text-sm transition-colors ${
                    active
                        ? "bg-primary/10 text-primary font-medium pointer-events-none"
                        : "text-slate-400 hover:bg-slate-800"
                    }`}
                    aria-current={active ? "page" : undefined}
                >
                    <span class="hidden sm:block">{item.label}</span>
                </a>
            );
        })}
    </nav>
    <footer class="p-1 sm:p-4 border-t border-slate-800 text-center">
        <span class="material-symbols-outlined text-sm">sync</span>
    </footer>
</aside>